@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');
$bg-purple: #8540FF;
$bg-yellow: #FFC50C;
$bg-pink: #EC407A;
$bg-orange: #F57F17;
$bg-sky: #13B6FF;
$bg-green: #49AF46;
*body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

.nav-link {
    color: #13B6FF !important;
}

.logo-top {
    position: relative;
    max-height: 45px;
    width: 100px;
    background-size: contain;
    padding: -100px;
}

.margin {
    &-lg {
        margin-top: 120px;
    }
    &-md {
        margin-top: 100px;
    }
    &-sm {
        margin-top: 80px;
    }
}

.rotated--hr {
    width: 100%;
    background-color: #0CBFAE;
    border-top: 3px solid #0CBFAE;
    transform: rotate(-3deg);
    -webkit-box-shadow: 0px 0px 10px 14px rgba(10, 190, 173, 0.6);
    box-shadow: 0px 0px 10px 14px rgba(5, 255, 230, 0.6);
}

.card--bg {
    &-one {
        background-color: $bg-purple;
        color: white;
    }
    &-two {
        background-color: $bg-yellow;
        color: white;
    }
    &-three {
        background-color: $bg-pink;
        color: white;
    }
    &-four {
        background-color: $bg-orange;
        color: white;
    }
    &-five {
        background-color: $bg-sky;
        color: white;
    }
    &-six {
        background-color: $bg-green;
        color: white;
    }
}

.font {
    &--hdl {
        font-family: 'Anton', sans-serif;
        color: #0CBFAE;
        line-height: 67px;
        font-weight: bold;
        font-size: 40px;
    }
}

// headline button

/* From cssbuttons.io */

////end
.blinking-cursor {
    font-weight: 500;
    margin-left: 4px;
    font-size: 20px;
    color: white !important;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

.shadow {
    &-bg {
        -webkit-box-shadow: 0px 9px 26px 14px rgba(10, 190, 173, 0.28);
        box-shadow: 0px 9px 20px 14px rgba(10, 190, 173, 0.28);
        box-shadow: inset;
    }
    &-bg-dp {
        -webkit-box-shadow: 0px 0px 10px 16px rgba(10, 190, 173, 0.18);
        box-shadow: 0px 0px 10px 16px rgba(10, 190, 173, 0.18);
        border-radius: 2px;
    }
}

.headline {
    &-bg {
        color: #0CBFAE;
    }
    &-span {
        color: #F57F17;
    }
}

.txt--span {
    color: #8d8d8d;
}

.span-font {
    font-family: 'Open Sans Condensed', sans-serif;
}

.card-cnt {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: 1rem;
}

.img-thumbnail {
    padding: .25rem;
    background-color: #ecf2f5;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}

.avatar-lg {
    height: 150px;
    width: 150px;
}

.carousel .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

// learn more button

/* From cssbuttons.io by @westitan */

button {
    position: relative;
    padding: 15px 30px;
    display: block;
    text-decoration: none;
    overflow: hidden;
    text-transform: uppercase;
    border-radius: 30px;
    border: none;
}

button span {
    position: relative;
    color: #fff;
    font-family: Arial;
    letter-spacing: 4px;
    z-index: 1;
}

button .liquid {
    position: absolute;
    top: -80px;
    left: 0;
    width: 100%;
    height: 200px;
    background: #4973ff;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    transition: .7s;
}

button .liquid::after,
button .liquid::before {
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #fff;
}

button .liquid::before {
    border-radius: 45%;
    background: rgba(20, 20, 20, 1);
    animation: animate 5s linear infinite;
}

button .liquid::after {
    border-radius: 40%;
    background: rgba(20, 20, 20, .5);
    animation: animate 10s linear infinite;
}

button:hover .liquid {
    top: -120px;
}

@keyframes animate {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}

///////////
$spacing: 1rem;
$themeColor: #63B8FF;
$backColor: #ddd;
$textShadow: rgba(black,
0.35) 1px 1px 1px;
.progress--circle {
    position: relative;
    display: inline-block;
    margin: $spacing;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: $backColor;
    &:before {
        content: '';
        position: absolute;
        top: 15px;
        left: 15px;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background-color: white;
    }
    &:after {
        content: '';
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: $themeColor;
    }
}

.progress__number {
    position: absolute;
    top: 50%;
    width: 100%;
    line-height: 1;
    margin-top: -0.75rem;
    text-align: center;
    font-size: 1.5rem;
    color: #777;
}

// loading
// .overlay {
//     display: none;
//     position: fixed;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
//     z-index: 999;
//     background: rgba(255, 255, 255, 0.8) url("https://flevix.com/wp-content/uploads/2019/07/Ring-Loading-feature.gif") center;
// }
.ripple {
    width: 1rem;
    /* control the size */
    background: #ffff;
    /* control the color here */
}

.ripple,
.ripple::before,
.ripple::after {
    content: "";
    display: grid;
    grid-area: 1/1;
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: 0 0 0 0 #000;
    /* and here, 3 is the transparency */
    animation: r 3s linear infinite var(--s, 0s);
}

.ripple::before {
    --s: 1s
}

.ripple::after {
    --s: 2s
}

@keyframes r {
    to {
        box-shadow: 0 0 0 6rem #0000
    }
}

.ripple-body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11rem;
    background: #ffff;
}

//For Dark mode
.dark-mode {
    background-color: #2A272A;
    color: #ffffff;
}

//back to top
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}