/* @import "node_modules/lib/anime.es.js"; */

*body {
    width: 100%;
}

.wave-top {
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.index-bg {
    z-index: -1;
    position: absolute;
    height: fit-content;
    width: 100%;
}

.shadow--bg {
    -webkit-box-shadow: 0px 9px 26px 14px rgba(10, 190, 173, 0.28);
    box-shadow: 0px 9px 20px 14px rgba(10, 190, 173, 0.28);
    box-shadow: inset;
}

.shadow--bg-dp {
    -webkit-box-shadow: 0px 0px 10px 16px rgba(10, 190, 173, 0.18);
    box-shadow: 0px 0px 10px 16px rgba(10, 190, 173, 0.18);
    border-radius: 2px;
}

.rotated--hr {
    width: 100%;
    background-color: transparent;
    transform: rotate(-3deg);
    -webkit-box-shadow: 0px 0px 10px 14px rgba(10, 190, 173, 0.6);
    box-shadow: 0px 0px 10px 14px rgba(10, 190, 173, 0.6);
}

.margin--lg {
    margin-top: 120px;
}

.margin--md {
    margin-top: 100px;
}

.margin--sm {
    margin-top: 80px;
}

.headline-bg {
    color: #0CBFAE;
}

.headline-span {
    color: #F57F17;
}

.txt--span {
    color: #635f5f;
}

.popup {
    position: absolute;
    background-color: #F57F17;
    left: 0px;
    top: 10px;
    width: 300px;
    height: 200px;
    z-index: -2;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    width: 100%;
    margin: auto;
}

.container {
    width: 980px !important;
}